/*  -- THE GREAT RESET -- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Ensure everything stretches from end to end of the browser window */
html, body {
  padding: 0;
  height: 100%;
}

/* Get rid of any automatic margins to maintain full control */
* {
  margin: 0;
}



/* -- STYLING -- */

/* Universal variables */
:root {
    color-scheme: dark;
    --primary_bg: light-dark(#F2EDEB, #252831);
    --secondary_bg: light-dark(#D9D4D2, #16171C);
    --shadow: light-dark(#cac5c3, #111218);
    --border: light-dark(#E6E1DF, #1E2027);
    --border_highlight: light-dark(#EDE8E6, #22252D);
    --border_shadow: light-dark(#E1DCDA, #1B1C23);
    --input_field: light-dark(#BDBCBC, #636277);
    --highlight: light-dark(#A1A3A6, #6C748C);
    --primary_text: light-dark(#0D0000, #E4E7F2);
    --secondary_text: light-dark(#595656, #A8B0BF);

}

/* Define fonts */
@font-face {
  font-family: 'kayak'; /* I'm not sure if this one works very well */
  src: url('../fonts/KayakSansRegular.otf') format('opentype');
}

@font-face {
  font-family: 'kayak-light'; /* Works well for most text */
  src: url('../fonts/KayakSansLight.otf') format('opentype');
}

/* Basic body styling */
body {
  background-color: var(--secondary_bg);
  color: var(--primary_text);
  letter-spacing: 0.75px;
  line-height: 1.3rem;
  font-family: 'Segoe UI', sans-serif;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary_bg); 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--input_field);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary_text);
  cursor: pointer;
}

/* Overarching container */
.container {
  display: flex;
  height: 100%;
}

.main_content {
  width: 1000px;
  display: flex;
  flex-flow: column;
  width: 1000px;
  margin: auto;
  height: 100vh;
}

/* Chatting area */
.chat_space {
  position: relative;
  width: 100%;
  flex: 0 1 85vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: var(--primary_bg);
  border-style: solid;
  border-width: 0.8rem;
  border-color: var(--border);
  border-top-color: var(--border_highlight);
  border-bottom-color: var(--border_shadow);
  transition: flex-basis 0.3s ease-in-out;
}

.chat_space.typing {
  flex-basis: 55vh;
}

.chat_space::before {
  position: absolute;
  z-index: -1;
  top: -0.8rem;
  left: -1.55rem;
  width: 0.8rem;
  height: 100vh;
  background: linear-gradient(to right, transparent, var(--shadow));
  content: '';
}

/* Input field div */
.input_space {
  width: 100%;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: var(--primary_bg);
  border-style: solid;
  border-width: 0.8rem;
  border-color: var(--border);
  border-top-color: var(--border_highlight);
  border-bottom-color: var(--border_shadow);
}

/* The actual input */
div[contenteditable]{
  border: 2px solid var(--input_field);
  border-radius: 10px;
  padding: 0.5rem;
  max-height: calc(15vh - 3.6rem);
  overflow: auto;
  transition: max-height 0.3s ease-in-out;
}

div[contenteditable].typing {
  max-height: calc(45vh - 3.6rem);;
}

div[contenteditable]:focus {
  outline: none;
  border-color: var(--secondary_text);
}